@import "tailwindcss";

@font-face {
  font-family: 'Music';
  src: url('/fonts/Edwin-Roman.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.music {
  font-family: 'Music';
}